html, body {
  font-size: 16px;
  margin: 0;
  padding-bottom: 2em;
  font-family: 'Times';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Philosopher', sans-serif;
}

code {
  color: #444;
  padding: 2em;
  margin-top: 2em;
  margin-bottom: 2.5em;
  min-width: 100%;
  display: inline-block;
  box-shadow: inset 0px 0px 7px rgba(210, 210, 210, 0.54);
  background-color: rgba(210, 210, 210, 0.24);
}

footer {
  text-align: center;
}

.footer-creds {
  display: inline-block;
  letter-spacing: 1px;
  opacity: 0.8;
}

.intro {
  color: #fff;
  @include background(linear-gradient(#444, #333) left repeat);
  padding: 8em 0;
  box-shadow: inset 0px 0px 7px #000;
  .react-star-rating {
    text-align: center;
  }
}

.main-title {
  font-size: 4em;
  letter-spacing: 1px;
  text-shadow: 1px 1px 0px #333;
  text-align: center;
  > small {
    display: block;
    font-size: 0.5em;
  }
}

.ratings-wrap {
  max-width: 980px;
  margin: 0 auto;
  padding: 4em;
  border-radius: 5px;
}