@import "bourbon";

html, body {
  font-size: 16px;
  margin: 0;
  padding-bottom: 2em;
  font-family: 'Times';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Philosopher', sans-serif;
}

code {
  color: #444;
  padding: 2em;
  line-height: 1.5;
  margin-top: 2em;
  margin-bottom: 2.5em;
  min-width: 100%;
  display: inline-block;
  box-shadow: inset 0px 0px 7px rgba(210, 210, 210, 0.54);
  background-color: rgba(210, 210, 210, 0.24);
  white-space: pre-wrap;
}

iframe {
  border: 0;
  display: inline-block;
  vertical-align: middle;
}

ul li {
  margin: 0.5em 0;
  font-size: 1.2em;
}

footer {
  text-align: center;
}

.btn {
  border-radius: 2px;
}

.btn-primary {
  background-color: #F5A71B;
  color: #fff;
  border: 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin: 0 1.5em;
  letter-spacing: 1px;
  &:active, &:hover, &:focus {
    outline: 0;
    color: #fff;
    background-color: darken(#F5A71B, 10%);
  }
}

.demo-form {
  fieldset {
    display: inline-block;
  }
}

.footer-creds {
  display: inline-block;
  letter-spacing: 1px;
  opacity: 0.8;
}

.intro {
  color: #fff;
  background: linear-gradient(#444, #333) left repeat;
  padding: 8em 0;
  box-shadow: inset 0px 0px 7px #000;
  text-align: center;
  .react-star-rating {
    text-align: center;
  }
}

.main-title {
  font-size: 4em;
  letter-spacing: 1px;
  text-align: center;
  > small {
    display: block;
    font-size: 0.5em;
  }
}

.ratings-wrap {
  max-width: 980px;
  margin: 0 auto;
  padding: 4em;
  border-radius: 5px;
}
