@import "bourbon";

@import "demo";

.rating-loading {
  width: 25px;
  height: 25px;
  font-size: 0px;
  color: #fff;
  background: transparent url('../img/loading.gif') top left no-repeat;
  border: none;
}
.react-star-rating__root {
  font-size: 2em;
  vertical-align: middle;
  display: inline-block;
}

/*
 * Stars
 */
.rating-fa {
  font-family: 'FontAwesome';
  padding-left: 1px;
  .rating-stars:before {
    padding-left: 1px;
  }
}

.rating-uni {
  font-size: 1.2em;
  margin-top: -5px;
}

.rating-container {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: #e3e3e3;
  overflow: hidden;
  &:before {
    content: attr(data-content);
  }
  &.rating-editing {
    &:hover {
      cursor: pointer;
    }
  }
  .rating-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #F5A71B;
    -webkit-mask-image: -webkit-gradient(linear,left top,left bottom,from(#FDBD47),to(#F5A71B));
    &:before {
      content: attr(data-content);
    }
  }
}

.react-rating-caption {
  font-size: 1.25em;
  vertical-align: middle;
  margin-right: 0.5em;
}

.rating-disabled {
  .rating-container:hover {
    cursor: not-allowed;
  }
}

// sizes
.react-star-rating__size--sm {
  font-size: 1em;
}
.react-star-rating__size--md {
  font-size: 2em;
}
.react-star-rating__size--lg {
  font-size: 2.5em;
}