.review {
  margin: 2em;
}
.review button {
  background-color: #ccc;
  border-radius: 4px;
  border: 0;
  color: #444;
  padding: 0.5em 1em;
  outline: 0;
}
.review__form {
  line-height: 1.5;
}
.review__form input {
  margin-bottom: 1em;
}
.review__form textarea {
  border: 0px;
  background-color: #eee;
  padding: 1.5em;
  border-radius: 4px;
  color: #444;
  outline: 0;
  font-family: Helvetica;
  font-size: 16px;
  margin-bottom: 1em;
}
.rating-loading {
  width: 25px;
  height: 25px;
  font-size: 0px;
  color: #fff;
  background: transparent url('../img/loading.gif') top left no-repeat;
  border: none;
}
/*
 * Stars
 */
.rating-fa {
  font-family: 'FontAwesome';
  padding-left: 1px;
}

.rating-fa .rating-stars:before {
  padding-left: 1px;
}

.rating-gly {
  font-family: 'Glyphicons Halflings';
}

.rating-gly-star {
  font-family: 'Glyphicons Halflings';
  padding-left: 2px;
}

.rating-gly-star .rating-stars:before {
  padding-left: 2px;
}

.rating-lg .rating-gly-star, .rating-lg .rating-gly-star .rating-stars:before {
  padding-left: 4px;
}

.rating-xl .rating-gly-star, .rating-xl .rating-gly-star .rating-stars:before {
  padding-left: 2px;
}

.rating-active {
  cursor: default;
}

.rating-disabled {
  cursor: not-allowed;
}

.rating-uni {
  font-size: 1.2em;
  margin-top: -5px;
}

.rating-container {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: #e3e3e3;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.rating-container:before {
  content: attr(data-content);
}

.rating-container .rating-stars {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #fde16d;
}

.rating-container .rating-stars:before {
  content: attr(data-content);
}

/**
 * Rating sizes
 */
.rating-xs {
    font-size: 2em;
}

/**
 * Clear rating button
 */
.star-rating .clear-rating, .star-rating-rtl .clear-rating {
    color: #aaa;
    cursor: not-allowed;
    display: inline-block;
    vertical-align: middle;
    font-size: 60%;
}

.clear-rating-active {
    cursor: pointer !important;
}

.clear-rating-active:hover {
  color: #843534;
}

.star-rating .clear-rating {
  padding-right: 5px;
}
